.block {
    display: flex;
    align-items: center;
    min-height: 80vh;
    padding: 40px 0;
}
.navbar {
  background-color: var(--navbar-background-color); /* Используйте переменную для цвета navbar-а */
}

:root {
  --navbar-color: #ff0000; /* Установите цвет navbar-а по умолчанию здесь */
}

.card-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}
.btn-color{
    background-color: #1ea2fd;
}
#card {
    flex-basis: 23%;
    margin: 10px;
}
